html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
    align-content: center;
    background-color: #282828;
}
body{
    color: #ffffff;
}

.panel-body{
    background-color: #282828;
}

.grid-form{
    display: grid; 
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.timer-div {
    background-color: white;
    display: inline-flex;
    border: 1px solid #ccc;
    color: #555;
  }
  
  .timer-input {
    border: none;
    color: #555;
    text-align: center;
    width: 60px;
  }

.container-fluid {
    width: 80%;
    height: 80%;
    padding: 20px;
    overflow-y: hidden; /* don't show content that exceeds my height */
}