.grid-form{
    display: grid; 
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.timer-div {
  background-color: white;
  display: inline-flex;
  border: 1px solid #ccc;
  color: #555;
}
  
.timer-input {
  border: none;
  color: #555;
  text-align: center;
  width: 60px;
}

.list-group-item.history{
  background-color: white !important;
}
